*{
	padding: 0;
	margin: 0;
}
body {
	background-image: linear-gradient( rgba(14.5%, 80%, 96.9%, 1), rgba(14.5%, 80%, 96.9%, 0) );
	background-repeat: no-repeat;
}
canvas {
	background: #EAF0F1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9%;
	border-radius: 10px;
}
h1 {
	text-align: center;
	color: white;
	text-decoration: underline;
	font-family: cursive;
	margin-top: 20px;
	font-size: 90px;
}