*{
	padding: 0;
	margin: 0;
}
body {
	background-image: linear-gradient( rgba(14.5%, 80%, 96.9%, 1), rgba(14.5%, 80%, 96.9%, 0) );
	background-repeat: no-repeat;
}
h1 {
	text-align: center;
	color: white;
	text-decoration: underline;
	font-family: cursive;
	margin-top: 20px;
	font-size: 90px;
}